<!DOCTYPE HTML>

<html>

<head>
	<title>Ecouter</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	<!-- Core CSS file -->
	<link rel="stylesheet" href="css/photoswipe.css">

	<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
		 In the folder of skin CSS file there are also:
		 - .png and .svg icons sprite,
		 - preloader.gif (for browsers that do not support CSS animations) -->
	<link rel="stylesheet" href="css/default-skin/default-skin.css">
</head>

<body>

	<!-- Page Wrapper -->
	<div id="page-wrapper">


		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="index.ejs">Fanch</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><span class="icon fa-home stylenav"></span>&nbsp;<a href="index.ejs">Portfolio</a></li>
								<li><span class="icon fa-eye"></span>&nbsp;<a href="index.ejs">Regarder</a></li>
								<li><span class="icon fa-headphones  stylenav"></span>&nbsp;<a href="index.ejs">Ecouter</a></li>
								<li><span class="icon fa-gamepad"></span>&nbsp;<a href="index.ejs">Jouer</a></li>
								<li><span class="icon fa-code stylenav"></span>&nbsp;<a href="index.ejs">Programmer</a></li>
								<li><span class="icon fa-rocket"></span>&nbsp;<a href="index.ejs">Bidouiller</a></li>
								<li><span class="icon fa-envelope-o stylenav"></span>&nbsp;<a href="index.ejs">Contact</a></li>

							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<article id="main">
			<header>
				</br>
				</br>
				<h2>Ecouter</h2>

			</header>
			<section class="wrapper style1">
				<div class="inner">
					<section>
						<h4>Enregistrement audio et Mixage/mastering</h4>
						<br>
						<div class="12u my-gallery"><span class="image fit"><figure><a href="images/st-equi.png" itemprop="contentUrl" data-size="1500x947"><img src="images/st-equihead.png" alt="Equipements" itemprop="thumbnail" height ="80%"></figure></a></span></div>

						<div class="box alt">
							<div class="row uniform 50%">
								<div class="8u my-gallery"><span class="image"><figure><a href="images/st-micro.png" itemprop="contentUrl" data-size="900x600"><img src="images/st-micro.png" alt="Microphone" itemprop="thumbnail" height ="80%"></figure></a></span></div>
								<div class="4u my-gallery"><span class="image"><figure><a href="images/st-cab.png" itemprop="contentUrl" data-size="630x940"><img src="images/st-cab.png" alt="Cabine" itemprop="thumbnail" height ="80%"></figure></a></span></div>
							</div>
						</div>

					</section>

					<section>
						<h4>Composition d'un Album de musique personnel </h4>

						<div class="box alt">
							<div class="row uniform 50%">

								Lecteur mp3
							</div>
						</div>
					</section>

					<section>
						<h4>Prestations de mesures acoustiques</h4>

						<div class="box alt">
							<div class="row uniform 50%">
								Image de mesures
							</div>
						</div>
					</section>

					<section>
						<h4>Construction et vente d'éléments acoustiques</h4>

						<div class="box alt">
							<div class="row uniform 50%">
								Site quadratik
							</div>
						</div>
					</section>

					<section>
						<h4>Matériel/Logiciels (Bundles entiers)</h4>

						<div class="box alt">
							<div class="row uniform 50%">
								<div class="1u"><span class="image fit"><a href="https://www.presonus.com/products/studio-one/" target="_blank"><img src="images/lg-pso.png" alt="Presonus Studio pro one" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://www.native-instruments.com/fr/products/komplete/bundles/komplete-11-ultimate/" target="_blank"><img src="images/lg-kom.png" alt="Native Instrument Komplete 9" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://www.fabfilter.com/" target="_blank"><img src="images/lg-fab.png" alt="FabFilter"></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://hofa-plugins.de/en/" target="_blank"><img src="images/lg-hofa.png" alt="HOFA plugins" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://www.izotope.com/" target="_blank"><img src="images/lg-izo.png" alt="Izotope" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://www.arturia.com/" target="_blank"><img src="images/lg-art.png" alt="Arturia" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="http://www.soundtoys.com/" target="_blank"><img src="images/lg-sou.png" alt="Soundtoys" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://fr.audiofanzine.com/clavier-maitre-midi-32-37-touches/korg/microkey-37/" target="_blank"><img src="images/mat-key.png" alt="Korg MicroKey 37" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://fr.audiofanzine.com/tete-ampli-basse/bugera/bvp5500/" target="_blank"><img src="images/mat-bug.png" alt="Bugera BVP5500" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://fr.audiofanzine.com/casque-studio/beyerdynamic/dt-770-pro-250-ohms/" target="_blank"><img src="images/mat-bey.png" alt="Beyerdynamic DT 770 Pro 250" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://fr.audiofanzine.com/micro-statique-a-transistors-a-large-membrane/rode/NT2A/" target="_blank"><img src="images/mat-nt2a.png" alt="Rode nt2A" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://fr.audiofanzine.com/micro-statique-a-transistors-a-petite-membrane/rode/NT4/" target="_blank"><img src="images/mat-rod.png" alt="Rode nt4" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://fr.audiofanzine.com/compresseur-de-studio/dbx/160A/" target="_blank"><img src="images/mat-dbx.png" alt="DBX 160A" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://fr.audiofanzine.com/enceinte-active/mackie/mr5mk2/" target="_blank"><img src="images/mat-mk2.png" alt="Mackie mr5 mk2" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://fr.audiofanzine.com/tranche-de-console/joemeek/twinq2/" target="_blank"><img src="images/mat-joe.png" alt="Joemeek TwinQ2" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://fr.audiofanzine.com/interface-audionumerique-usb/edirol/UA-1000/" target="_blank"><img src="images/mat-edi.png" alt="Edirol UA-1000" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://fr.audiofanzine.com/console-midi/korg/nanokontrol2-black/" target="_blank"><img src="images/mat-nano.png" alt="nano Kontrol 2" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://fr.audiofanzine.com/sequenceur-boucles/native-instruments/maschine-mikro-mki/" target="_blank"><img src="images/mat-mas.png" alt="maschine mikro mki" ></a></span></div>


							</div>
						</div>
					</section>

				</div>
			</section>
		</article>

		<!-- Footer -->
		<footer id="footer">

			<%- include('popup'); %>

				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Fanch Cavellec</li>
					<li>NodeJs on Raspberry Pi</li>
				</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.scrollex.min.js"></script>
	<script src="js/jquery.scrolly.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/util.js"></script>
	<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
	<script src="js/main.js"></script>
	<!-- Core JS file -->
	<script src="js/photoswipe.min.js"></script>

	<!-- UI JS file -->
	<script src="js/photoswipe-ui-default.min.js"></script>
	<script src="js/swipe.js"></script>
	<script>
		var vid = document.getElementById('videoframe');

		function changeSrc(source) {
			vid.src = source;
			vid.load();
		}
	</script>


</body>

</html>
