<!DOCTYPE html>
<!--
    Prologue by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Portfolio Fanch Cavellec</title>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport"><!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
	<link href="/css/main.css" rel="stylesheet"><!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
</head>
<body>
	<!-- Header -->
	<div id="header">
		<div class="top">
			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48"><img alt="" src="images/avatar.jpg"></span>
				<h1 id="title">Fanch Cavellec</h1>
				<p>Créatif freelance</p>
			</div><!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a class="skel-layers-ignoreHref" href="#top" id="top-link"><span class="icon fa-home">Intro</span></a></li>
					<li><a class="skel-layers-ignoreHref" href="#regarder" id="portfolio-link"><span class="icon fa-eye">Regarder</span></a></li>
					<li><a class="skel-layers-ignoreHref" href="#ecouter" id="portfolio-link"><span class="icon fa-headphones">Ecouter</span></a></li>
					<li><a class="skel-layers-ignoreHref" href="#jouer" id="portfolio-link"><span class="icon fa-gamepad">Jouer</span></a></li>
					<li><a class="skel-layers-ignoreHref" href="#programmer" id="portfolio-link"><span class="icon fa-code">Programmer</span></a></li>
					<li><a class="skel-layers-ignoreHref" href="#bidouiller" id="portfolio-link"><span class="icon fa-rocket">Bidouiller</span></a></li>
					<li><a class="skel-layers-ignoreHref" href="#contact" id="contact-link"><span class="icon fa-envelope">Contact</span></a></li>
				</ul>
			</nav>
		</div>
		<div class="bottom">
			<!-- Social Icons -->
			<ul class="icons">
				<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
				<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
				<li><a class="icon fa-github" href="#"><span class="label">Github</span></a></li>
				<li><a class="icon fa-envelope" href="#"><span class="label">Email</span></a></li>
			</ul>
		</div>
	</div><!-- Main -->
	<div id="main">
		<!-- Intro -->
		<section class="one dark cover" id="top">
			<div class="container">
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>
		</section><!-- Regarder -->
		<section class="two" id="regarder">
			<div class="container">
				<header>
					<h2>Regarder</h2>
				</header>
				<p></p>
				<h4>Matière : Substance étendue, divisible et susceptible de recevoir toute sorte de formes. La matière se transforme. Elle se manipule, s'étire ou se casse. Se colorie ou se griffe. S'agence en un code, une onde, un tableau.</h4>
				<p></p>
				<div class="row">
					<div class="4u 12u$(mobile)">
						<article class="item">

							<a class="image fit" href="#"><img alt="" src="images/hh.png"></a>
							<div class="desc"><h2>Happy Hour</h2></div>
								
							
						</article>
						
					</div>
					
				</div>
			</div>
		</section>
		<section class="three" id="ecouter">
			<div class="container">
				<header>
					<h2>Ecouter</h2>
				</header>
				<p></p>
				<h4>Matière : Substance étendue, divisible et susceptible de recevoir toute sorte de formes. La matière se transforme. Elle se manipule, s'étire ou se casse. Se colorie ou se griffe. S'agence en un code, une onde, un tableau.</h4>
				<p></p>
				<div class="row">
					<div class="4u 12u$(mobile)">
						<article class="item">
							<a class="image fit" href="#"><img alt="" src="images/studio.png"></a>
							<div class="desc">
								<h3>Mixage et mastering audio</h3>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
		<section class="four" id="jouer">
			<div class="container">
				<header>
					<h2>Jouer</h2>
				</header>
				<p></p>
				<h4>Matière : Substance étendue, divisible et susceptible de recevoir toute sorte de formes. La matière se transforme. Elle se manipule, s'étire ou se casse. Se colorie ou se griffe. S'agence en un code, une onde, un tableau.</h4>
				<p></p>
				<div class="row">
					<div class="4u 12u$(mobile)">
						
						<article class="item">
							<a class="image fit" href="#"><img alt="" src="images/chainon.png"></a>
							<div class="desc">
								<h3>Jeu vidéo : Chainon manquant</h3>
							</div>
						</article>
					</div>
					<div class="4u 12u$(mobile)">
						
						<article class="item">
							<a class="image fit" href="#"><img alt="" src="images/chainon2.png"></a>
							<div class="desc">
								<h3>Scène 2D</h3>
							</div>
						</article>
						<article class="item">
							<a class="image fit" href="#"><img alt="" src="images/ultim.png"></a>
							<div class="desc">
								<h3>Logique de jeu Blender</h3>
							</div>
						</article>
						
					</div>
				</div>
			</div>
		</section>
		<section class="five" id="programmer">
			<div class="container">
				<header>
					<h2>Programmer</h2>
				</header>
				<p></p>
				<h4>Matière : Substance étendue, divisible et susceptible de recevoir toute sorte de formes. La matière se transforme. Elle se manipule, s'étire ou se casse. Se colorie ou se griffe. S'agence en un code, une onde, un tableau.</h4>
				<p></p>
				<div class="row">
					<div class="4u 12u$(mobile)">
						
						<article class="item">
							<a class="image fit" href="#"><img alt="" src="images/webmastering.png"></a>
							<div class="desc">
								<h3>Création de site Web</h3>
							</div>
						</article>
						
					</div>
				</div>
			</div>
		</section>
		<section class="six" id="bidouiller">
			<div class="container">
				<header>
					<h2>Bidouiller</h2>
				</header>
				<p></p>
				<h4>Matière : Substance étendue, divisible et susceptible de recevoir toute sorte de formes. La matière se transforme. Elle se manipule, s'étire ou se casse. Se colorie ou se griffe. S'agence en un code, une onde, un tableau.</h4>
				<p></p>
				<div class="row">
					<div class="4u 12u$(mobile)">
						
					</div>
				</div>
			</div>
		</section>
		<!-- About Me -->
		<section class="seven" id="about">
			<div class="container">
				<header>
					<h2>Compétences</h2>
				</header><a class="image featured" href="#"><img alt="" src="images/pic08.jpg"></a>
				<p>Liste de compétences ici. Parler du libre et de sa philosophie. Pourquoi j'aime l'informatique.</p>
			</div>
		</section><!-- Contact -->
		<section class="eight" id="contact">
			<div class="container">
				<header>
					<h2>Contact</h2>
				</header>
				<p>Elementum sem parturient nulla quam placerat viverra mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>
				<form action="#" method="post">
					<div class="row">
						<div class="6u 12u$(mobile)">
							<input name="name" placeholder="Name" type="text">
						</div>
						<div class="6u$ 12u$(mobile)">
							<input name="email" placeholder="Email" type="text">
						</div>
						<div class="12u$">
							<textarea name="message" placeholder="Message"></textarea>
						</div>
						<div class="12u$">
							<input type="submit" value="Send Message">
						</div>
					</div>
				</form>
			</div>
		</section>
	</div><!-- Footer -->
	<div id="footer">
		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Tous droits reservés.</li>
			<li>Logo NodeJS, Express, EJS, etc...</li>
		</ul>
	</div><!-- Scripts -->
	<script src="/js/jquery.min.js">
	</script> 
	<script src="/js/jquery.scrolly.min.js">
	</script> 
	<script src="/js/jquery.scrollzer.min.js">
	</script> 
	<script src="/js/skel.min.js">
	</script> 
	<script src="/js/util.js">
	</script> <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
	 
	<script src="/js/main.js">
	</script>
</body>
</html>