<!DOCTYPE HTML>

<html>
	<head>
		<title>Portfolio Fanch Cavellec</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />

		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.ejs">Fanch</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><span class="icon fa-home stylenav"></span>&nbsp;<a href="index.ejs">Portfolio</a></li>
											<li><span class="icon fa-eye"></span>&nbsp;<a href="index.ejs">Regarder</a></li>
											<li><span class="icon fa-headphones  stylenav"></span>&nbsp;<a href="index.ejs">Ecouter</a></li>
											<li><span class="icon fa-gamepad"></span>&nbsp;<a href="index.ejs">Jouer</a></li>
											<li><span class="icon fa-code stylenav"></span>&nbsp;<a href="index.ejs">Programmer</a></li>
											<li><span class="icon fa-rocket"></span>&nbsp;<a href="index.ejs">Bidouiller</a></li>
											<li><span class="icon fa-envelope-o stylenav"></span>&nbsp;<a href="index.ejs">Contact</a></li>

										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Fanch Cavellec</h2>


						</div>
						<a href="#one" class="more scrolly"><i class="icon fa-arrow-down fa-2x"></i></a>

					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Organiser le desordre</h2>
								<p>L'éternel mouvement n’est que l'élan des choses <br />
Il arrive, O Matière, de mes mains incertaines<br />
Que je vienne te griffer, ouvrière immortelle<br />
Transformer mon âme fébrile en souveraine<br />
Avant de n'être qu’argile pour les metamorphoses.<br />
</p>

							</header>
							<ul class="icons major">
								<li><a href="#regarder" class="more scrolly" ><span class="icon fa-eye major style1"></a></span></li>
								<li><a href="#ecouter" class="more scrolly" ><span class="icon fa-headphones major style2"></span></li>
								<li><a href="#jouer" class="more scrolly" ><span class="icon fa-gamepad major style1"></span></li>
								<li><a href="#programmer" class="more scrolly" ><span class="icon fa-code major style2"></span></li>
								<li><a href="#bidouiller" class="more scrolly" ><span class="icon fa-rocket major style1"></span></li>

							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section id="regarder" class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" />
							</div>
								<div class="content greencolor bgregarder">
									<h2>Construire un univers visuel...</h2>
									<p> De la lumière naissent les formes et les couleurs. S'impriment sur les retines, des tableaux et des danses à 25 images/seconde.  </p>
								</div>
						</section>
						<section id="ecouter" class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content bgecouter">
								<h2>Donner de l'amplitude...</h2>
								<p>Tordre les ondes. Les rendre droites ou montagneuses. Les assembler en un bouquet dissonant ou harmonieux. </p>
							</div>
						</section>
						<section id="jouer" class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content greencolor bgjouer">
								<h2>Explorer des mondes inventés...</h2>
								<p>Avancer, sauter, eviter. Un endroit où l'on peut perdre et réessayer.</p>
							</div>
						</section>

					<section id="programmer" class="spotlight">
						<div class="image"><img src="images/pic04.jpg" alt="" /></div><div class="content bgcoder">
							<h2>Cerner les mots entre des balises...</h2>
							<p>Communiquer avec un langage venu du circuit imprimé, donner de l'ordre aux mots pour servir la logique et prévoir ses évidentes erreurs. </p>
						</div>
					</section>

				<section id="bidouiller" class="spotlight">
					<div class="image"><img src="images/pic05.jpg" alt="" /></div><div class="content greencolor bgbidouiller">
						<h2>
						Experimenter pour découvrir...</h2>
						<p>Les cables s'ajoutent et se croisent dans le jardin electronique. Les fruits se partagent librement avec les autres.</p>
					</div>
				</section>
			</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Me contacter</h2>
								<p>Vous souhaitez m'inviter à participer à votre projet, n'hésitez pas à me contacter pour en discuter!</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Je suis là!</a></li>
								<li><a href="#" class="button fit">Retour</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Fanch Cavellec</li><li>NodeJs on Raspberry Pi</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
