<!DOCTYPE HTML>

<html>

<head>
	<title>Regarder</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	<!-- Core CSS file -->
	<link rel="stylesheet" href="css/photoswipe.css">

	<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
		 In the folder of skin CSS file there are also:
		 - .png and .svg icons sprite,
		 - preloader.gif (for browsers that do not support CSS animations) -->
	<link rel="stylesheet" href="css/default-skin/default-skin.css">
</head>

<body>

	<!-- Page Wrapper -->
	<div id="page-wrapper">


		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="index.ejs">Fanch</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><span class="icon fa-home stylenav"></span>&nbsp;<a href="index.ejs">Portfolio</a></li>
								<li><span class="icon fa-eye"></span>&nbsp;<a href="index.ejs">Regarder</a></li>
								<li><span class="icon fa-headphones  stylenav"></span>&nbsp;<a href="index.ejs">Ecouter</a></li>
								<li><span class="icon fa-gamepad"></span>&nbsp;<a href="index.ejs">Jouer</a></li>
								<li><span class="icon fa-code stylenav"></span>&nbsp;<a href="index.ejs">Programmer</a></li>
								<li><span class="icon fa-rocket"></span>&nbsp;<a href="index.ejs">Bidouiller</a></li>
								<li><span class="icon fa-envelope-o stylenav"></span>&nbsp;<a href="index.ejs">Contact</a></li>

							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<article id="main">
			<header>
				</br>
				</br>
				<h2>Regarder</h2>

			</header>
			<section class="wrapper style1">
				<div class="inner">
					<section>
						<h4>Webserie sur Youtube / Médiation scientifique</h4>

						<div class="box alt">
							<div class="row uniform 50%">
								<div class="12u"><span class="image fit"><iframe id='videoframe' width="100%" height="315" src="https://www.youtube.com/embed/874wKFktZyE" frameborder="0" allowfullscreen></iframe></span></div>
								</br>
								</br>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/uWgff9oEhCM')"><img src="images/yt-vampires.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/874wKFktZyE')"><img src="images/yt-reves.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/VsYGw4t24q8')"><img src="images/yt-voix.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/aJFM9Frg_vk')"><img src="images/yt-inv.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/I_paQkLx3pg')"><img src="images/yt-biomim.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/2iqeHieanDU')"><img src="images/yt-temp1.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/49NYaaXz15s')"><img src="images/yt-temp2.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/WnfnvIjuYTk')"><img src="images/yt-ventre.jpg" alt=""></a></span></div>
							</div>
						</div>

						<a href="https://www.echosciences-bretagne.bzh/articles/mon-aventure-happy-hour" target="_blank">Mon aventure partagée sur le site d'Echoscience Bretagne.</a>
						<br>
						<br>
						<h6>Partenaires</h6>
						<div class="box alt">
							<div class="row uniform 50%">
								<div class="1u"><span class="image"><a href="http://www.enseignementsup-recherche.gouv.fr/cid55892/comprendre-le-programme-investissements-d-avenir.html" target="_blank"><img src="images/logo-inv.png" alt="investissement d'avenir" width="100%"></a></span></div>
								<div class="1u"><span class="image"><a href="https://www.eykfrance.com/" target="_blank"><img src="images/logo-eyk.png" alt="EYK studio" width="100%"></a></span></div>
								<div class="1u"><span class="image"><a href="https://www.espace-sciences.org/espace-numerique" target="_blank"><img src="images/logo-eds.png" alt="espace des sciences numerique" width="100%"></a></span></div>
								<div class="1u"><span class="image"><a href="http://inmediats.fr/" target="_blank"><img src="images/logo-inm.png" alt="Inmediat" width="100%"></a></span></div>
							</div>
						</div>

					</section>
					<section>
						<h4>Dessin numérique</h4>

						<div class="box alt">
							<div class="row uniform 50%">

								<div class="4u my-gallery"><span class="image fit"><figure><a href="images/bd-chat.png" itemprop="contentUrl" data-size="1000x700"><img src="images/bd-chat.png" alt="BD chat" width="100%" itemprop="thumbnail"></figure></a></span></div>
								<div class="4u my-gallery"><span class="image fit"><figure><a href="images/bd-rat.png" itemprop="contentUrl" data-size="1000x700"><img src="images/bd-rat.png" alt="BD rat" width="100%" itemprop="thumbnail"></figure></a></span></div>

							</div>
						</div>
					</section>

					<section>
						<h4>Infographie 3D</h4>

						<div class="box alt">
							<div class="row uniform 50%">
								<div class="4u my-gallery"><span class="image fit"><figure><a href="images/bl-tri.png" itemprop="contentUrl" data-size="1000x543"><img src="images/bl-tri.png" alt="Triceratops" width="100%" itemprop="thumbnail"></figure></a></span></div>
								<div class="4u my-gallery"><span class="image fit"><figure><a href="images/bl-poppy.png" itemprop="contentUrl" data-size="1000x543"><img src="images/bl-poppy.png" alt="Happy Hour Decor" width="100%" itemprop="thumbnail"></figure></a></span></div>

							</div>
						</div>
					</section>
					<section>
						<h4>Matériel/Logiciels</h4>

						<div class="box alt">
							<div class="row uniform 50%">
								<div class="1u"><span class="image fit"><a href="http://www.adobe.com/fr/products/photoshop.html" target="_blank"><img src="images/lg-ps.png" alt="Photoshop" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="http://www.adobe.com/fr/products/illustrator.html" target="_blank"><img src="images/lg-il.png" alt="Photoshop" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="http://www.adobe.com/fr/products/aftereffects.html" target="_blank"><img src="images/lg-ae.png" alt="Photoshop" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="http://www.adobe.com/fr/products/premiere.html" target="_blank"><img src="images/lg-pr.png" alt="Photoshop" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="http://www.adobe.com/fr/products/photoshop-lightroom.html" target="_blank"><img src="images/lg-lr.png" alt="Photoshop" ></a></span></div>
								<div class="1u"><span class="image fit"><a href="https://www.blender.org/" target="_blank"><img src="images/lg-bl.png" alt="Photoshop" ></a></span></div>


							</div>
						</div>
					</section>

				</div>
			</section>
		</article>

		<!-- Footer -->
		<footer id="footer">

			<%- include('popup'); %>

				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Fanch Cavellec</li>
					<li>NodeJs on Raspberry Pi</li>
				</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.scrollex.min.js"></script>
	<script src="js/jquery.scrolly.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/util.js"></script>
	<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
	<script src="js/main.js"></script>
	<!-- Core JS file -->
	<script src="js/photoswipe.min.js"></script>

	<!-- UI JS file -->
	<script src="js/photoswipe-ui-default.min.js"></script>
	<script src="js/swipe.js"></script>
	<script>
		var vid = document.getElementById('videoframe');

		function changeSrc(source) {
			vid.src = source;
			vid.load();
		}
	</script>


</body>

</html>
