<!DOCTYPE HTML>

<html>

<head>
	<title>Regarder</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	<!-- Core CSS file -->
	<link rel="stylesheet" href="css/photoswipe.css">

	<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
		 In the folder of skin CSS file there are also:
		 - .png and .svg icons sprite,
		 - preloader.gif (for browsers that do not support CSS animations) -->
	<link rel="stylesheet" href="css/default-skin/default-skin.css">
</head>

<body>

	<!-- Page Wrapper -->
	<div id="page-wrapper">


		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="index.ejs">Fanch</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><span class="icon fa-home stylenav"></span>&nbsp;<a href="index.ejs">Portfolio</a></li>
								<li><span class="icon fa-eye"></span>&nbsp;<a href="index.ejs">Regarder</a></li>
								<li><span class="icon fa-headphones  stylenav"></span>&nbsp;<a href="index.ejs">Ecouter</a></li>
								<li><span class="icon fa-gamepad"></span>&nbsp;<a href="index.ejs">Jouer</a></li>
								<li><span class="icon fa-code stylenav"></span>&nbsp;<a href="index.ejs">Programmer</a></li>
								<li><span class="icon fa-rocket"></span>&nbsp;<a href="index.ejs">Bidouiller</a></li>
								<li><span class="icon fa-envelope-o stylenav"></span>&nbsp;<a href="index.ejs">Contact</a></li>

							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<article id="main">
			<header>
			</br>
		</br>
				<h2>Regarder</h2>

			</header>
			<section class="wrapper style1">
				<div class="inner">
					<section>
						<h4>Webserie sur Youtube / Médiation scientifique</h4>

						<div class="box alt">
							<div class="row uniform 50%">
								<div class="12u"><span class="image fit"><iframe id='videoframe' width="100%" height="315" src="https://www.youtube.com/embed/874wKFktZyE" frameborder="0" allowfullscreen></iframe></span></div>
								</br>
								</br>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/uWgff9oEhCM')"><img src="images/yt-vampires.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/874wKFktZyE')"><img src="images/yt-reves.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/VsYGw4t24q8')"><img src="images/yt-voix.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/aJFM9Frg_vk')"><img src="images/yt-inv.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/I_paQkLx3pg')"><img src="images/yt-biomim.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/2iqeHieanDU')"><img src="images/yt-temp1.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/49NYaaXz15s')"><img src="images/yt-temp2.jpg" alt=""></a></span></div>
								<div class="3u"><span class="image fit"><a onclick="changeSrc('https://www.youtube.com/embed/WnfnvIjuYTk')"><img src="images/yt-ventre.jpg" alt=""></a></span></div>
								</div>
						</div>

						<a href="https://www.echosciences-bretagne.bzh/articles/mon-aventure-happy-hour" target="_blank">Mon aventure partagée sur le site d'Echoscience Bretagne.</a>
						<br>
						<br>
<h5>Partenaires</h5>
<div class="box alt">
	<div class="row uniform 50%">
		<div class="3u"><span class="image fit"><img src="https://www.economie.gouv.fr/files/investissement_avenir_371.png" alt="investissement d'avenir"></span></div>
		<div class="3u"><span class="image fit"><img src="http://eykstudio.com/assets/eyk-logo-square-104589e4bc8d5a4256a6ee2182dc84f65ac95f7f9f76271d93b67b4f46ce2c3b.png" alt="EYK studio"></span></div>
		<div class="3u"><span class="image fit"><img src="http://www.lejardingraphique.com/docs/files/logo/Espace%20des%20Sciences.png" alt="espace des sciences numerique"></span></div>
	</div>
</div>

</section>
<section>
						<h5>Left &amp; Right</h5>
						<p><span class="image left"><img src="images/pic04.jpg" alt=""></span>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et
							ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper. Curabitur purus leo, tempus sed finibus eget, fringilla quis risus. Maecenas et lorem quis sem varius sagittis et
							a est. Maecenas iaculis iaculis sem. Donec vel dolor at arcu tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ut aliquet justo. Donec id neque ipsum. Integer eget ultricies odio. Nam vel ex a orci fringilla
							tincidunt. Aliquam eleifend ligula non velit accumsan cursus. Etiam ut gravida sapien. Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor.
							Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper. Curabitur purus leo, tempus sed finibus eget, fringilla quis risus. Maecenas et lorem quis sem
							varius sagittis et a est. Maecenas iaculis iaculis sem. Donec vel dolor at arcu tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ut aliquet justo. Donec id neque ipsum. Integer eget ultricies odio. Nam vel
							ex a orci fringilla tincidunt. Aliquam eleifend ligula non velit accumsan cursus. Etiam ut gravida sapien.</p>
						<p><span class="image right"><img src="images/pic05.jpg" alt=""></span>Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem. Phasellus in odio at ipsum porttitor mollis id vel diam. Praesent sit amet posuere risus,
							eu faucibus lectus. Vivamus ex ligula, tempus pulvinar ipsum in, auctor porta quam. Proin nec dui cursus, posuere dui eget interdum. Fusce lectus magna, sagittis at facilisis vitae, pellentesque at etiam. Quisque posuere leo quis sem commodo, vel
							scelerisque nisi scelerisque. Suspendisse id quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis nec felis elementum varius. Nam sapien ante, varius in pulvinar vitae, rhoncus
							id massa. Donec varius ex in mauris ornare, eget euismod urna egestas. Etiam lacinia tempor ipsum, sodales porttitor justo. Aliquam dolor quam, semper in tortor eu, volutpat efficitur quam. Fusce nec fermentum nisl. Aenean erat diam, tempus aliquet
							erat. Etiam iaculis nulla ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit, eget condimentum nunc blandit vel. In at pulvinar lectus. Morbi diam ante, vulputate et imperdiet eget, fermentum non dolor. Ut eleifend sagittis tincidunt.
							Sed viverra commodo mi, ac rhoncus justo. Duis neque ligula, elementum ut enim vel, posuere finibus justo. Vivamus facilisis maximus nibh quis pulvinar. Quisque hendrerit in ipsum id tellus facilisis fermentum. Proin mauris dui.</p>
					</section>

					<h2>First gallery:</h2>

					<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">



						<div class="box alt">
							<div class="row uniform 50%">
								<div class="4u">
									<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"><a href="images/pic01.jpg" itemprop="contentUrl" data-size="1024x1024"><span class="image fit"><img src="images/pic01.jpg" alt=""></span></div>
  </a>
										<figcaption itemprop="caption description">Image caption 1</figcaption>

									</figure>
								</div>
							</div>






						</div>

						<h2>Second gallery:</h2>

						<div class="my-gallery">

							<figure>
								<a href="images/code.svg" itemprop="contentUrl" data-size="964x1024">
          <img src="images/code.svg" itemprop="thumbnail" alt="Image description" />
      </a>
								<figcaption>C'est cool le code!</figcaption>
							</figure>




						</div>

						<%- include('popup'); %>



							<h3>Lorem ipsum dolor</h3>
							<p>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi,
								id malesuada justo. Maecenas sagittis felis ac sagittis semper. Curabitur purus leo, tempus sed finibus eget, fringilla quis risus. Maecenas et lorem quis sem varius sagittis et a est. Maecenas iaculis iaculis sem. Donec vel dolor at arcu tincidunt
								bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ut aliquet justo. Donec id neque ipsum. Integer eget ultricies odio. Nam vel ex a orci fringilla tincidunt. Aliquam eleifend ligula non velit accumsan cursus. Etiam
								ut gravida sapien.</p>

							<p>Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem. Phasellus in odio at ipsum porttitor mollis id vel diam. Praesent sit amet posuere risus, eu faucibus lectus. Vivamus ex ligula, tempus pulvinar ipsum in,
								auctor porta quam. Proin nec dui cursus, posuere dui eget interdum. Fusce lectus magna, sagittis at facilisis vitae, pellentesque at etiam. Quisque posuere leo quis sem commodo, vel scelerisque nisi scelerisque. Suspendisse id quam vel tortor
								tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis nec felis elementum varius.</p>

							<hr />

							<h4>Feugiat aliquam</h4>
							<p>Nam sapien ante, varius in pulvinar vitae, rhoncus id massa. Donec varius ex in mauris ornare, eget euismod urna egestas. Etiam lacinia tempor ipsum, sodales porttitor justo. Aliquam dolor quam, semper in tortor eu, volutpat efficitur quam. Fusce
								nec fermentum nisl. Aenean erat diam, tempus aliquet erat.</p>

							<p>Etiam iaculis nulla ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit, eget condimentum nunc blandit vel. In at pulvinar lectus. Morbi diam ante, vulputate et imperdiet eget, fermentum non dolor. Ut eleifend sagittis tincidunt.
								Sed viverra commodo mi, ac rhoncus justo. Duis neque ligula, elementum ut enim vel, posuere finibus justo. Vivamus facilisis maximus nibh quis pulvinar. Quisque hendrerit in ipsum id tellus facilisis fermentum. Proin mauris dui, at vestibulum
								sit amet, auctor bibendum neque.</p>

					</div>
			</section>
		</article>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Fanch Cavellec</li><li>NodeJs on Raspberry Pi</li>
			</ul>
		</footer>

		</div>

		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/util.js"></script>
		<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
		<script src="js/main.js"></script>
		<!-- Core JS file -->
		<script src="js/photoswipe.min.js"></script>

		<!-- UI JS file -->
		<script src="js/photoswipe-ui-default.min.js"></script>
		<script src="js/swipe.js"></script>
		<script>
 var vid = document.getElementById('videoframe');
 function changeSrc(source) {
	 vid.src = source;
	 vid.load();
 }

		</script>


</body>

</html>
